
h1 {
  color: #f2f2f8;
}

.questionScreen {
  display: none;
}

.questionScreen:nth-of-type(1) {
  display: block;
}

.questionScreen span {
  display: block;
}

.questionScreen {
  position: relative;
}

.questionScreen:before {
  content: attr(data-question-number);
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #006400, #044e0d);
  color: white;
  font-size: 20px;
  text-align: center;
  border: 2px solid white;
  padding-left: 1px; 
}


#finishedScreen span {
  display: none;
}

#finishedScreen {
  display: none;
}

#questionScreenBody {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('darlingimage.jpg');
  border: 7px solid #167614;
  box-sizing: border-box;
  height: 100vh;
}

#answerScreenBody {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('darlingimage.jpg');
  border: 5px solid #167614;
  box-sizing: border-box;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #044e0d;
  margin-top: 29px;
  margin-bottom: 29px;
  font-size: 20px;
  background-image: linear-gradient(to bottom, #006400, #044e0d);
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  border: 2px solid #f6f9f6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.questionScreen {
  background-image: url('ddmota.jpg');
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 4px solid #13811b;
}
.questionScreen img {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
  border-radius: 20px;
  border: 4px solid #006400;
}
.questionScreen span {
  display: block;
  margin-bottom: 5px;
  border: 2px solid #f1f3f1;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #006400, #044e0d);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




.questionScreen span:hover {
  background-color: #3da949;
  border-color: black;
  color: #fff;
}

#DarlingAnswerz {
  text-align: center;
  color: #044e0d;
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  border: 4px solid #f7f8f7;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #006400, #044e0d);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
}
#DarlingAnswerz h1 {
  margin-bottom: 20px;
}
#DarlingAnswerz .answerBubble {
  background-image: linear-gradient(to bottom, #006400, #044e0d);
  color: white;
  border: 2px solid #f1f3f1;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 5px;
  text-align: center;
}

#DarlingAnswerz #goBackButton {
  background: linear-gradient(to bottom, #044e0d, #006400);
  border: 4px solid #ededed;
  border-radius: 30px;
  padding: 15px 30px;
  transition: background-color 0.3s, color 0.3s;
  margin: 20px auto;
  display: block;
}
#DarlingAnswerz #goBackButton a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
}
#DarlingAnswerz #goBackButton:hover {
  background: linear-gradient(to bottom, #006400, #044e0d);
  color: #044e0d;
  cursor: pointer;
}
.answerBubble {
  background-image: linear-gradient(to bottom, #006400, #044e0d);
  color: white;
  border: 2px solid #044e0d;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 5px;
  text-align: center;
}

#retakeBtnAnswers,
#answersBtn {
  background-image: linear-gradient(to bottom, #006400, #044e0d);
  display: inline-block;
  background-color: #f5f5f5;
  border: 2px solid #e7eee8;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 10px auto;
  font-size: 16px;
  text-decoration: none;
  color: #044e0d;
  cursor: pointer;
}

#retakeBtnAnswers a,
#answersBtn a {
  text-decoration: none;
  color: #044e0d;
}

#retakeBtnAnswers a,
#answersBtn a {
  color: #fff;
}

#retakeBtnAnswers:hover,
#answersBtn:hover {
  background-color: #044e0d;
  color: #fff;
}

#retakeBtnAnswers {
  background-image: linear-gradient(to bottom, #006400, #044e0d);
  display: block;
  background-color: #f5f5f5;
  border: 2px solid #f7f8f7;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 10px auto -10px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#retakeBtnAnswers a {
  text-decoration: none;
  color: #fff;
}

#retakeBtnAnswers:hover {
  background-color: #044e0d;
}

#startBody {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center; 
  height: 100vh; 
  background: linear-gradient(to bottom, #006400, #044e0d);
  border: 2px solid white;
  box-sizing: border-box; 
}

#startScreen {
  text-align: center;
  background-image: url('darlingstartscreen.jpeg');
  background-size: cover;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 85px auto 50px; 
  position: relative;
  background-position: center;
  border: 2px solid white; 
}


#startScreen h1 {
  font-size: 36px;
  color: #044e0d;
  margin-bottom: 20px;
}

#startScreen p {
  font-size: 18px;
  color: #e8ede9;
  margin-bottom: 40px;
}

#startButton {
  display: inline-block;
  background: linear-gradient(to bottom, #044e0d, #006400);
  border: 4px solid #044e0d;
  border-radius: 50px;
  padding: 20px 40px;
  transition: background-color 0.3s, color 0.3s;
}

#startButton a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

#startButton:hover {
  background: linear-gradient(to bottom, #006400, #044e0d);
  color: #044e0d;
  cursor: pointer;
}

#startScreen h2,
#startParagraph {
  font-size: 20px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: white;
  padding: 14px;
  background: linear-gradient(to bottom, #044e0d, #006400);
  border: 2px solid white;
  border-radius: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

#startParagraph {
  font-size: 12px;
  margin-bottom: 40px;
}

#startButton {
  display: inline-block;
  background: linear-gradient(to bottom, #044e0d, #006400);
  border: 4px solid #edeeed;
  border-radius: 50px;
  padding: 20px 40px;
  transition: background-color 0.3s, color 0.3s;
}

#startButton a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

#startButton:hover {
  background: linear-gradient(to bottom, #006400, #044e0d);
  color: #044e0d;
  cursor: pointer;
}

#scoreSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #006400, #044e0d);
  border: 4px solid #f1f9f1;
  color: white;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#finishedScreen {
  text-align: center;
  color: #044e0d;
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  background-image: url('darlingfinished.jpg');
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
  border: 3px solid #e8ede8;
  background-position: center;
}

#finishedScreen p {
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #006400, #044e0d);
  color: white;
  padding: 14px;
  border: 2px solid #ffffff;
  border-radius: 30px;
}

#finishedScreen button {
  background: linear-gradient(to bottom, #044e0d, #006400);
  border: 4px solid #f3f7f3;
  border-radius: 50px;
  padding: 20px 40px;
  transition: background-color 0.3s, color 0.3s;
  margin: 10px;
}

#finishedScreen button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

#finishedScreen button:hover {
  background: linear-gradient(to bottom, #006400, #044e0d);
  color: #044e0d;
  cursor: pointer;
}
